/* Pre Define variables for your theme.
any values defined here will take precedence over variables definitions.
========================================================================== */
// add your default variable values here.
//e.g.:
//$purple:	#cc00ff;

//Fonts
$font-family-base: Merriweather, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-header-base: "Courgette", sans-serif;
$font-size-base: 14px;

//Accent color for buttons, links etc...
$primary-color: #316F9A !default;
$success-color: #74ABD1 !default;

//Links
$link-color-base: #74ABD1 !default;
$link-hover-color-base: #316F9A !default;
